@model KTMKomuter.Models.KtmUsers
@{
    ViewData["Title"] = "Delete";
}

<style>
    .label-1 {
        min-width: 100px;
    }
</style>

<div class="mx-auto" style="max-width:800px;">
    <p>
        @Html.ActionLink(" Back to List", "Index", null, null, new { @class = "bi bi-arrow-left-short btn btn-primary" })
    </p>
    <h5>Delete Confirmation</h5>
    <div class="card">
        <div class="card-body p-4">


            <p>
                <label class="fw-bold">@Html.DisplayFor(x => x.ViewId)</label>
            </p>
            <p>
                <label class="label-1 fw-bold">@Html.DisplayNameFor(model => model.PurchaserName)</label>
                @Html.DisplayFor(x => x.PurchaserName)
            </p>

            <p>
                <label class="label-1 fw-bold">@Html.DisplayNameFor(model => model.IdentityCardOrPassportNumber)</label>
                @Html.DisplayFor(x => x.IdentityCardOrPassportNumber)
            </p>
            <p>
                <label class="label-1 fw-bold">@Html.DisplayNameFor(model => model.EmailAddress)</label>
                @Html.DisplayFor(x => x.EmailAddress)
            </p>
            <p>
                <label class="label-1 fw-bold">@Html.DisplayNameFor(model => model.DictCurrentDestination)</label>
                @Html.DisplayFor(x => x.DictCurrentDestination[Model.IndexCurrentDestination])
            </p>
            <p>
                <label class="label-1 fw-bold">@Html.DisplayNameFor(model => model.DictToDestination)</label>
                @Html.DisplayFor(x => x.DictToDestination[Model.IndexToDestination])
            </p>
        </div>
        <div class="card-footer p-4">
            @using (Html.BeginForm())
            {
                <input type="submit" value="Confirm Delete" class="toright px-4 btn btn-primary" />
            }
        </div>
    </div>
</div>

<table style="font-size:16px;" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td style="font-weight:700; padding-right: 20px;">Ticket ID</td>
        <td>8DC88B6076</td>
    </tr>
    <tr>
        <td style="font-weight:700; padding-right: 20px;">Name</td>
        <td>xio the</td>
    </tr>
    <tr>
        <td style="font-weight:700; padding-right: 20px;">IC/Passport</td>
        <td>5656676</td>
    </tr>
    <tr>
        <td style="font-weight:700; padding-right: 20px;">Email</td>
        <td>xioalee23@gmail.com</td>
    </tr>
</table>
<br>
<table style="font-size:16px; padding-top:200px;" cellpadding="0" cellspacing="0" border="0">
    <tr style="font-weight:700;">
        <th style="padding-right: 100px;">From</th>
        <th >To</th>
    </tr>
    <tr>
        <td padding-right: 10px;>KLANG</td>
        <td>KL SENTRAL</td>
    </tr>
</table>
<br>
<table style="font-size:16px;" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td style="font-weight:700; padding-right: 20px;">Regular Price</td>
        <td>RM2.00</td>
    </tr>
    <tr>
        <td style="font-weight:700; padding-right: 20px;">Final Price</td>
        <td>RM1.40</td>
    </tr>
</table>



