@model KTMKomuter.Models.KtmUsers

<head>
    <title>Pos Laju Invoice</title>
    <link href="~/css/PosLaju.css" rel="stylesheet" />
</head>
<body>

    <p>
        <label>Id:</label>
        @Html.DisplayFor(x => x.ViewId)
    </p>

    <br />
    <h5>User Information</h5>
    <p>
        <label>Your name:</label>
        @Html.DisplayFor(x => x.PurchaserName)
    </p>

    <p>
        <label>Your ID card / passport number :</label>
        @Html.DisplayFor(x => x.IdentityCardOrPassportNumber)
    </p>
    <p>
        <label>Your email:</label>
        @Html.DisplayFor(x => x.EmailAddress)
    </p>

    <br />

    <h5>Train Information</h5>
    <p>
        <label>From:</label>
        @Html.DisplayFor(x => x.DictCurrentDestination[Model.IndexCurrentDestination])
    </p>
    <p>
        <label>To: </label>
        @Html.DisplayFor(x => x.DictToDestination[Model.IndexToDestination])
    </p>
    <p>
        <label>Amount: </label>
        @Html.DisplayFor(x => x.Amount)
    </p>
    <p>
        <label>After Discount price :</label>
        @Html.DisplayFor(x => x.AfterDiscount)
    </p>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>

