@model KTMKomuter.Models.KtmUsers


<head>
    <title>Train Form</title>

</head>
<body>
    @using (Html.BeginForm())
    {

        <h5>Booking train route Form</h5>
        <div class="row">
            <p class="col-md-4">
                <label>@Html.DisplayNameFor(x => x.PurchaserName)</label>
                @Html.TextBoxFor(x => x.PurchaserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.PurchaserName, "",
                         new { @class = "text-danger" })
            </p>
            
        </div>

        <div class="row">

            <p class="col-md-4">
                <label>@Html.DisplayNameFor(x => x.IdentityCardOrPassportNumber)</label>
                @Html.TextBoxFor(x => x.IdentityCardOrPassportNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.IdentityCardOrPassportNumber, "",
                         new { @class = "text-danger" })
            </p>
        </div>
        

        <div class="row">

            <p class="col-md-4">
                <label>@Html.DisplayNameFor(x => x.EmailAddress)</label>
                @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
            </p>
        </div>

        




        <h5>Train Information</h5>
        <div class="row">
            <p class="col-md-4">
                <label>@Html.DisplayNameFor(x => x.IndexCurrentDestination)</label>
                @Html.DropDownListFor(x => x.IndexCurrentDestination,
                         new SelectList(Model.DictCurrentDestination, "Key", "Value"), "Select your current destination:",
                         new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.IndexCurrentDestination, "",
                         new { @class = "text-danger" })
            </p>

            <p class="col-md-4">
                <label>@Html.DisplayNameFor(x => x.IndexToDestination)</label>
                @Html.DropDownListFor(x => x.IndexToDestination,
                         new SelectList(Model.DictToDestination, "Key", "Value"), "Select your desired destination:",
                         new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.IndexToDestination, "",
                         new { @class = "text-danger" })
            </p>
        </div>

        <div class="row">

            <p class="col-md-4">
                <label>@Html.DisplayNameFor(x => x.Category)</label>
                @Html.DropDownListFor(x => x.Category,
                         new SelectList(Model.DictCategoryDiscount, "Key", "Value"), "Select your categories",
                         new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Category, "",
                         new { @class = "text-danger" })
            </p>
        </div>
        <br />
        <p>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </p>

        }
</body>
