@model KTMKomuter.Models.KtmUsers

@{
    ViewData["Title"] = "Invoice";
}
<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script type="text/javascript" src="~/js/qrcode.min.js"></script>
<style>
    .label-1 {
        min-width: 100px;
    }
</style>


<div class="mx-auto" style="max-width:800px;">
    <p>
        @Html.ActionLink(" Back", "TrainTicket", null, null, new { @class = "bi bi-arrow-left-short btn btn-primary" })
    </p>

    <h5>Ticket Information</h5>
    <div class="card">
        <div class="card-body p-4">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p class="mb-0">
                                <label class="fw-bold">@Html.DisplayNameFor(model => model.DictCurrentDestination)</label>
                            </p><p>
                                @Html.DisplayFor(x => x.DictCurrentDestination[Model.IndexCurrentDestination])
                            </p>
                        </div>
                        <div class="col">
                            <p class="mb-0">
                                <label class="fw-bold">@Html.DisplayNameFor(model => model.DictToDestination)<label>
                            </p><p>
                                @Html.DisplayFor(x => x.DictToDestination[Model.IndexToDestination])
                            </p>
                        </div>
                    </div>
                    <p class="mb-0">
                        <label class="fw-bold">@Html.DisplayNameFor(model => model.Amount)</label>
                    </p><p>
                        @Html.DisplayFor(x => x.Amount)
                    </p>
                    <p class="mb-0">
                        <label class="fw-bold">@Html.DisplayNameFor(model => model.AfterDiscount)</label>
                    </p><p>
                        @Html.DisplayFor(x => x.AfterDiscount)
                    </p>
                </div>
                <div class="col-md-auto">
                    <div id="qrcode" style="width:200px; height:200px; margin-top:15px;"></div>
                    <p class="text-center fw-bold">
                        <label id="ID">@Html.DisplayFor(x => x.Id)</label>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br />
    <h5>User Information</h5>
    <div class="card">
        <div class="card-body p-4">
            <p>
                <i class="bi bi-person-fill me-3"></i><label class="label-1 fw-bold">@Html.DisplayNameFor(model => model.PurchaserName) </label>
                @Html.DisplayFor(x => x.PurchaserName)
            </p>

            <p>
                <i class="bi bi-person-vcard-fill me-3"></i><label class="label-1 fw-bold">@Html.DisplayNameFor(model => model.IdentityCardOrPassportNumber) </label>
                @Html.DisplayFor(x => x.IdentityCardOrPassportNumber)
            </p>
            <p>
                <i class="bi bi-envelope-fill me-3"></i><label class="label-1 fw-bold">@Html.DisplayNameFor(model => model.EmailAddress)</label>
                @Html.DisplayFor(x => x.EmailAddress)
            </p>
        </div>
    </div>

</div>
<script type="text/javascript">
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        width: 200,
        height: 200
    });

    function makeCode() {
        var labelText = $("#ID").text();
        qrcode.makeCode(labelText);
    }

    makeCode();
</script>

